<turbo-frame id=<%= profile.id %>>
  <div class="card">
    <div class="card-content">
      <div class="profile-form">
        <%= simple_form_for profile do |f| %>
          <%= f.input :bio, placeholder: "Tell us about yourself..." %>
          <%= f.input :batch, placeholder: "1122" %>
          <%= f.input :show_email %>
          <%= f.button :submit, class: "button is-primary" %>
        <% end %>
      </div>
      <%= render partial: 'profile_languages/languages', locals: { profile_language: @new_profile_language, profile_languages:  @profile_languages } %>
    </div>
  </div>
</turbo-frame>
