<turbo-frame id=<%= profile.id %>>
  <div class="card">
    <div class="card-content">
      <div class="profile-form">
        <%= simple_form_for profile do |f| %>
          <%= f.input :bio, placeholder: "Tell us about yourself..." %>
          <%= f.input :batch, placeholder: "1122" %>
          <%= f.input :show_email %>
          <div class="select is-multiple">
            <%= f.select :language_ids, options_from_collection_for_select(Language.all, 'id', 'name'), {}, {multiple: true} %>
          </div>
          <%= f.button :submit, class: "button is-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>
