<turbo-frame id=<%= profile.id %>>
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-content">
      <div class="two-column">
        <div>
          <%= image_tag profile.user.avatar_url, class:"profile-avatar" %>
          <h3 id="profile-name"><%= profile.user.name %></h3>
          <p>Batch #<%= profile.batch %></p>
          <% if profile.show_email %>
            <p>Email: <%= profile.user.email %></p>
          <% end %>
        </div>
        <p class="m-auto"><%= profile.bio %></p>
      </div>
      <hr>
      <h6>Languages</h6>
      <div class="languages">
        <% profile.languages.each do |language|%>
          <p class="tag is-info"><%= language.name %></p>
        <% end %>
      </div>
      <br>
      <% if current_user == profile.user %>
        <%= link_to "Edit Profile", edit_profile_path(profile_id: profile.id), class:"button is-primary"%>
      <% end %>
    </div>
  </div>
</turbo-frame>
