<section class="content m-6">
  <div class="container is-max-desktop two-column">
    <div class="card">
      <div class="card-header p-3">
        <h3>Buddy Ups</h3>
      </div>
      <div class="card-content">
        <p>Total <%= BuddyUp.all_count(@profile).round %></p>
        <p>Favorited</p>
        <p>In Progress <%= BuddyUp.progress(@profile).round %></p>
        <p>Completed <%= BuddyUp.active_complete_total(@profile).round %></p>
        <p>Archived <%= BuddyUp.abandonment(@profile) %></p>
      </div>
    </div>

    <%= render partial: "preview", locals: { profile: @profile } %>

  </div>
</section>
