<%= turbo_frame_tag "main" do %>

  <!--Avatar and name-->
  <div class="is-flex is-align-items-center mb-6 pl-5 pr-5">
    <div>
      <figure class="image is-128x128 m-0 mr-5"><img class="is-rounded" src="<%= @user.avatar_url %>" /></figure>
    </div>
    <div class="is-flex-grow-1">
      <h1 class="title"><%= @user.name %></h1>
      <p class="subtitle mb-2"><%= @user.email %></p>
      <% if @user.admin %>
        <p class="has-text-weight-bold has-text-danger-dark">Administrator</p>
      <% end %>
    </div>
    <div>
      <p class="title"><%= @user.status.capitalize %></p>
    </div>
  </div>

  <!--Stat counters-->
  <hr class="navbar-divider">
  <nav class="level is-mobile mt-5">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading"><%= link_to "BuddyUps", admin_bups_user_path(@user), class: "has-text-black" %></p>
        <p class="title"><%= link_to "#{@user.profile.buddy_ups.count}", admin_bups_user_path(@user), class: "has-text-black" %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Requests</p>
        <p class="title"><%= @user.profile.requests.count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Favourites</p>
        <p class="title"><%= @user.profile.favourites.count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Feedbacks</p>
        <p class="title"><%= @user.profile.feedbacks.count %></p>
      </div>
    </div>
  </nav>
  <hr class="navbar-divider">

  <!--Profile details-->
  <div class="columns mt-5 is-8">
    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <td class="has-text-weight-bold has-text-success-dark">Join date</td>
            <td><%= @user.created_at.strftime("%e %B %Y") %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold has-text-success-dark">Github name</td>
            <td><%= link_to "#{@user.github_name}", "https://github.com/#{@user.github_name}", target: "_blank" %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold has-text-success-dark">Languages</td>
            <td>
              <% @user.profile.profile_languages.each do |p_l| %>
                <%= "#{p_l.language.name}, " %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="has-text-weight-bold has-text-success-dark">Socials</td>
            <td>
              <% @user.social_links.each do |s_l| %>
                <a href="<%= s_l.url %>" target="_blank"><%= s_l.name %></a>,
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h4>Bio</h4>
      <p><%= @user.profile.bio %></p>
    </div>
  </div>

  <!--Admin actions-->
  <hr class="navbar-divider">
  <div class="block is-flex pt-3">
    <%= link_to "Set status: Active", set_active_path(@user), class: "button mr-3 is-info" unless @user.active? %>
    <%= link_to "Set status: Away", set_away_path(@user), class: "button mr-3 is-info" unless @user.away? %>
    <%= link_to "Set status: Dummy", set_dummy_path(@user), class: "button mr-3 is-info" unless @user.dummy? %>
    <%= link_to "Remove Administrator", toggle_admin_path(@user), class: "button is-danger" if @user.admin %>
    <%= link_to "Make Administrator", toggle_admin_path(@user), class: "button is-danger" unless @user.admin %>
  </div>

<% end %>
