<section class="content m-6">
  <div class="container is-max-desktop is-flex">
    <div class="is-flex-grow-1">
        <h1 class="title">Welcome to Your BuddyUp Hub!</h1>
        <p>This is your personal space to track and manage all your collaborative learning journeys. Here, you can witness your progress, view your active BuddyUps, and even dive into some that you might have missed out on. Let's make learning more interactive and fun together!</p>
    <h2 class="mb-3">
      Your Progress and Statistics
    </h2>
    </div>
    <div>
      <%= link_to "Create new BuddyUp",
                    new_buddy_up_path(source: "dashboard"),
                    class: "button is-primary"
      %>
    </div>
  </div>
</section>

<section class="content m-6">
  <div class="container is-max-desktop">
    <div class="box">
      <% if @count.positive? %>
        <div class="block">
          <h4 class="mb-3">
            Your BuddyUp Journey So Far
          </h4>
          <p class="mb-3">
            Keep track of how far you've come with your BuddyUps! Completed challenges are milestones in your learning path. You've completed <%= @complete_bups.nil? ? 0 : @complete_bups.count %>/<%= @count %>  BuddyUps. Keep up the great work!
          </p>
          <progress class="progress is-success" value=<%= @progress %> max="100"></progress>
        </div>
      <% end %>
      <% if @archive_bups %>
        <div class="block">
          <p class="mb-3">
            Abandonment rate (<%= @archive_bups.nil? ? 0 : @archive_bups.count %>/<%= @all_count %> archived)
          </p>
          <progress class="progress is-warning" value=<%= @abandonment %> max="100"></progress>
        </div>
      <% end %>
      <% if @requested_bups %>
        <div class="block">
          <h4 class="mb-3">
            Your BuddyUp Connection Success
          </h4>
          <p class="mb-3">
            Networking is key! Here's how successful you've been in joining other BuddyUps. You have a <%= @request_success_rate %>% success rate with <%= @requested_bups.where(status: :approved).count %> approved requests out of <%= @requested_bups.count %>.
            Requests success rate (<%= @requested_bups.where(status: :approved).count %>/<%= @requested_bups.count %> requests approved)
          </p>
          <progress class="progress is-primary" value=<%= @request_success_rate %> max="100"></progress>
        </div>
      <% end %>
      <% if !@requested_bups && !@archive_bups && !@count.positive? %>
        <p>Create or join some BuddyUps to see them here!</p>
      <% end %>
    </div>
  </div>
</section>

<section class="content m-6">
  <div class="container is-max-desktop">

    <% if @active_bups %>
      <h2>Your Current Learning Partnerships</h2>
      <p>These are the BuddyUps you're actively participating in. Collaborate, learn, and grow together. Take a glance at your current projects and the amazing people you're working with!</p>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <th class="td-name">Name</th>
            <th class="td">Requests</th>
            <th class="td">Favourites</th>
            <th class="td">Buddies</th>
            <th class="td"></th>
          </thead>
          <tbody>
            <% @active_bups.each do |bu| %>
              <tr>
                <td class="td-name"><%= bu.name %></td>
                <td class="td"><%= bu.requests.count %></td>
                <td class="td"><%= bu.favourites.count %></td>
                <td class="td"><%= bu.requests.where(status: :approved).count %></td>
                <td class="td"><%= link_to "View / Edit", buddy_up_path(bu), class: "button is-info is-light is-small" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @fav_bups %>
      <%= render partial: "favourites/dashboard_index", locals: { fav_bups: @fav_bups } %>
    <% end %>

    <% if @requested_bups %>
      <h2>BuddyUp Requests You've Made</h2>
      <p>Curiosity leads to growth! These are the BuddyUps you've shown interest in joining. Keep an eye on their status and get ready to dive into new learning adventures.</p>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <th class="td-name">Name</th>
            <th class="td">Buddy</th>
            <th class="td">Status</th>
            <th class="td"></th>
          </thead>
          <tbody>
            <% @requested_bups.each do |re| %>
              <tr>
                <td class="td-name"><%= re.buddy_up.name %></td>
                <td class="td"><%= re.buddy_up.user.name %></td>
                <% if re.status == "approved" %>
                  <td class="td"><span class="has-text-primary-dark has-text-weight-semibold"><%= re.status.capitalize %><span></td>
                <% elsif re.status == "denied" %>
                  <td class="td"><span class="has-text-danger-dark has-text-weight-semibold"><%= re.status.capitalize %><span></td>
                <% else %>
                  <td class="td"><%= re.status.capitalize %></td>
                <% end %>
                <td class="td"><%= link_to "View", buddy_up_path(re.buddy_up), class: "button is-info is-light is-small" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @join_requests %>
      <h2>My BuddyUps others want to join</h2>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <th class="td-name">Name</th>
            <th class="td">Message</th>
            <th class="td">Buddy</th>
            <th class="td">Status</th>
            <th class="td"></th>
            <th class="td"></th>
          </thead>
          <tbody>
            <% @join_requests.each do |re| %>
              <tr>
                <td class="td-name"><%= re.buddy_up.name %></td>
                <td class="td"><%= re.message %></td>
                <td class="td"><%= re.profile.user.name %></td>
                <% if re.status == "approved" %>
                  <td class="td"><span class="has-text-primary-dark has-text-weight-semibold"><%= re.status.capitalize %><span></td>
                <% elsif re.status == "denied" %>
                  <td class="td"><span class="has-text-danger-dark has-text-weight-semibold"><%= re.status.capitalize %><span></td>
                <% else %>
                  <td class="td"><%= re.status.capitalize %></td>
                <% end %>
                <td class="td"><%= button_to "Accept", request_path(re, action_to_take: "approved"), method: :patch, class: "button is-info is-light is-small" %></td>
                <td class="td"><%= button_to "Reject", request_path(re, action_to_take: "denied"), method: :patch, class: "button is-info is-light is-small" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @complete_bups %>
      <h2>Celebrating Your Completed BuddyUps</h2>
      <p>Each completed BuddyUp is a testament to your dedication and hard work. Here's a showcase of all the challenges you've conquered. Kudos to you and your buddies for these achievements!</p>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <th class="td-name">Name</th>
            <th class="td">Requests</th>
            <th class="td">Favourites</th>
            <th class="td">Buddies</th>
            <th class="td"></th>
          </thead>
          <tbody>
            <% @complete_bups.each do |bu| %>
              <tr>
                <td class="td-name"><%= bu.name %></td>
                <td class="td"><%= bu.requests.count %></td>
                <td class="td"><%= bu.favourites.count %></td>
                <td class="td"><%= bu.requests.where(status: :approved).count %></td>
                <td class="td"><%= link_to "View / Edit", buddy_up_path(bu), class: "button is-info is-light is-small" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @archive_bups %>
      <h2 class="has-text-grey-light">Your Archived BuddyUps</h2>
      <p>This section holds the BuddyUps that didn't go as planned. It's a space for reflection and learning. Understand what didn't work and how you can approach future challenges differently.</p>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-striped has-text-grey-light">
          <thead>
            <th class="td-name has-text-grey-light">Name</th>
            <th class="td has-text-grey-light">Requests</th>
            <th class="td has-text-grey-light">Favourites</th>
            <th class="td has-text-grey-light"></th>
          </thead>
          <tbody>
            <% @archive_bups.each do |bu| %>
              <tr>
                <td class="td-name"><%= bu.name %></td>
                <td class="td"><%= bu.requests.count %></td>
                <td class="td"><%= bu.favourites.count %></td>
                <td class="td"><%= link_to "View / Edit", buddy_up_path(bu), class: "button is-light is-small" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

  </div>
</section>
