<%= turbo_frame_tag "main" do %>

	<div class="is-flex">
    <div>
      <h1 class="title">BuddyUps</h1>
      <p class="subtitle">All BuddyUps. View their details to see more and make changes.</p>
    </div>
    <div class="is-flex-grow-1">
      <!--Search form-->
      <%= form_with url: admin_bups_index_path, method: :get, class: "is-pulled-right" do %>
      <div class="field has-addons">
        <div class="control">
          <%= text_field_tag :query, params[:query], class: "input", placeholder: "Search BuddyUps" %>
        </div>
        <div class="control">
          <%= submit_tag "Search", class: "button is-info" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!--Table listing the results-->
  <% if @bups.any? %>
    <table class="table is-striped is-hoverable is-fullwidth mt-6">
      <thead>
        <th>Name</th>
        <th>Creator</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        <% @bups.each do |bu| %>
          <tr>
            <td class="is-vcentered"><%= bu.name %></td>
            <td class="is-vcentered"><%= bu.user.name %></td>
            <td class="is-vcentered"><%= bu.status.capitalize %></td>
            <td class="is-vcentered"><%= link_to "View", admin_bup_show_path(bu), class: "button is-info is-pulled-right" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="mt-6">No BuddyUps to display.</p>
  <% end %>

<% end %>
