<p> Name: <%= @buddy_up.name %></p>
<p > Description: <%= @buddy_up.description %> </p>
<p > Status: <%= @buddy_up.status %> </p>
<p > Availability: <%= @buddy_up.availability %> </p>
<p > Module: <%= @buddy_up.challenge.module %></p>
<p > Skill: <%= @buddy_up.challenge.skill %></p>
<p> Challenge Name: <%= @buddy_up.challenge.name %></p>
<p> Buddy Up owner: <%= @buddy_up.profile.user.name %></p>



