<div class="is-flex">
	<div class="is-flex is-flex-direction-column">
		<%= render "admin/shared/admin_nav" %>
		<div class="is-flex-grow-1"></div>
	</div>

	<main class="m-4 box content is-flex-grow-1">

    <!--Name and status-->
    <div class="is-flex is-align-items-center mb-6 pl-5 pr-5">
      <div class="is-flex-grow-1">
        <h1 class="title mb-0"><%= @buddy_up.name %></h1>
      </div>
      <div>
        <p class="title"><%= @buddy_up.status.capitalize %></p>
      </div>
    </div>

    <!--User information-->
    <div class="is-flex is-align-items-center mb-6 pl-5 pr-5">
      <div>
        <figure class="image is-96x96 m-0 mr-5"><img class="is-rounded" src="<%= @buddy_up.user.avatar_url %>" /></figure>
      </div>
      <div class="is-flex-grow-1">
        <h2 class="title"><%= @buddy_up.user.name %></h1>
        <p class="subtitle mb-2"><%= @buddy_up.user.email %></p>
      </div>
    </div>

    <!--Stat counters-->
    <hr class="navbar-divider">
    <nav class="level is-mobile mt-5">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Requests</p>
          <p class="title"><%= @buddy_up.requests.count %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Favourites</p>
          <p class="title"><%= @buddy_up.favourites.count %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Feedbacks</p>
          <p class="title"><%= @buddy_up.feedbacks.count %></p>
        </div>
      </div>
    </nav>
    <hr class="navbar-divider">

    <!--BuddyUp details-->
    <div class="columns mt-5 is-8">
      <div class="column">
        <table class="table">
          <tbody>
            <tr>
              <td class="has-text-weight-bold has-text-success-dark">Challenge</td>
              <td><%= "#{@buddy_up.challenge.module} / #{@buddy_up.challenge.skill} / #{@buddy_up.challenge.name}" %></td>
            </tr>
            <tr>
              <td class="has-text-weight-bold has-text-success-dark">Created</td>
              <td><%= @buddy_up.created_at.strftime("%e %B %Y %H:%M:%S") %></td>
            </tr>
            <tr>
              <td class="has-text-weight-bold has-text-success-dark">Last updated</td>
              <td><%= @buddy_up.updated_at.strftime("%e %B %Y %H:%M:%S") %></td>
            </tr>
            <tr>
              <td class="has-text-weight-bold has-text-success-dark">Auto match allowed?</td>
              <td><%= @buddy_up.auto_match.to_s.capitalize %></td>
            </tr>
            <tr>
              <td class="has-text-weight-bold has-text-success-dark">Availability</td>
              <td><%= @buddy_up.availability %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <h4>Description</h4>
        <p><%= @buddy_up.description %></p>
      </div>
    </div>

    <!--Requests-->
    <% if @buddy_up.requests.any? %>
      <h2>Requests</h2>
      <table class="table is-striped is-hoverable is-fullwidth mt-2">
        <thead>
          <th>Requested by</th>
          <th>Created</th>
          <th>Message</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
        <% @buddy_up.requests.each do |request| %>
          <tr>
            <td class="is-vcentered"><%= request.user.name %></td>
            <td class="is-vcentered"><%= request.created_at.strftime("%e %b %Y %H:%M:%S") %></td>
            <td class="is-vcentered"><%= request.message %></td>
            <td class="is-vcentered"><%= request.status.capitalize %></td>
            <td class="is-vcentered"><%= link_to "Delete", admin_request_path(request), class: "button is-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Request? The user will not be informed."} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <!--Favourites-->
    <% if @buddy_up.favourites.any? %>
      <h2>Favourites</h2>
      <table class="table is-striped is-hoverable is-fullwidth mt-2">
        <thead>
          <th>Favourited by</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody>
        <% @buddy_up.favourites.each do |fav| %>
          <tr>
            <td class="is-vcentered"><%= fav.user.name %></td>
            <td class="is-vcentered"><%= fav.created_at.strftime("%e %b %Y %H:%M:%S") %></td>
            <td class="is-vcentered"><%= link_to "Delete", admin_favourite_path(fav), class: "button is-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Favourite? The user will not be informed."} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <!--Admin actions-->
    <hr class="navbar-divider">
    <div class="block is-flex pt-3">
      <%= button_to "Set status: Active", admin_buddy_up_path(@buddy_up), params: { status_change: "make_active" }, method: :patch, class: "button mr-3 is-info" unless @buddy_up.active? %>
      <%= button_to "Set status: Archived", admin_buddy_up_path(@buddy_up), params: { status_change: "make_archived" }, method: :patch, class: "button mr-3 is-info" unless @buddy_up.archived? %>
      <%= button_to "Set status: Complete", admin_buddy_up_path(@buddy_up), params: { status_change: "make_complete" }, method: :patch, class: "button mr-3 is-info" unless @buddy_up.complete? %>
      <%= button_to "Delete this BU", admin_buddy_up_path(@buddy_up), class: "button is-danger", method: :delete, data: { turbo_confirm: "Are you sure you want to delete this BuddyUp? The user will not be informed." } %>
    </div>

  </main>
</div>
