
<div class="container is-max-desktop">
  <div class="card github-sign-in-card">
    <div class="card-header">
      <h1 class= "card-header-title">log In</h1>
    </div>
    <div class="card-content has-text-centered">
    <%# This form is here so development can log in easily, this form will not be in production %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
