<nav class="panel is-primary m-4 fix-width" data-controller="adminnav">
	<p class="panel-heading">
		<%= link_to "Admin dashboard", admin_dashboard_path, class: "has-text-white" %>
	</p>
	<%= link_to "Users and Profiles", admin_users_path, class: "panel-block", data: { turbo_frame: 'main', action: "click->adminnav#toggle", adminnav_target: "menuitem" } %>
	<%= link_to "BuddyUps", admin_buddy_ups_path, class: "panel-block", data: { turbo_frame: 'main', action: "click->adminnav#toggle", adminnav_target: "menuitem" } %>
	<%= link_to "Challenges", admin_challenges_path, class: "panel-block", data: { turbo_frame: 'main', action: "click->adminnav#toggle", adminnav_target: "menuitem" } %>
	<%= link_to "App Feedbacks", admin_app_feedbacks_path, class: "panel-block", data: { turbo_frame: 'main', action: "click->adminnav#toggle", adminnav_target: "menuitem" } %>
</nav>
